<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>CAVINO</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-menu-toggle auto-hide="true" *ngFor="let b of bottleList">
            <ion-card class="centered">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card-header>
                                    <ion-card-title>{{b.year}}</ion-card-title>
                                    <ion-card-subtitle>{{b.description}}</ion-card-subtitle>
                                </ion-card-header>
                                <ul>
                                    <li>prix actuel : {{b.price}}</li>
                                    <li>prix moyen : {{b.averagePrice}}</li>
                                    <li>pays : {{b.country.year}}</li>
                                    <li>région : {{b.region.name}}</li>
                                    <li>domain : {{b.domain.year}}</li>
                                    <li>couleur : {{b.wineType.year}}</li>
                                    <li>Millésime : {{b.vintage.year}}</li>
                                    <li>Id : {{b.id}}</li>
                                    <input type="hidden" value="{{b.id}}" />
                                </ul>
                                <ion-img *ngIf="b.isOrganic" class="abicon" src="/assets/agriculture_biologique.png"></ion-img>
                            </ion-col>
                            <ion-col>
                                <ion-img class="bottle_mini" src="/assets/medoc-2014.jpg"></ion-img>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-button [disabled]="addBottleButtonStatus">
                                <ion-icon class="tag-icon" name="add-circle-outline"></ion-icon>
                                Ajouter a un cellier
                            </ion-button>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-menu-toggle>
    </ion-list>

</ion-content>

<ion-footer padding>
    <ion-button [disabled]="bottlesButtonStatus" routerLink="/new-bottle">Nouveau</ion-button>
</ion-footer>
