<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CAVINO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="center-elements">
    <h2>Préférences</h2>
    <p>
      <label>Région préférée</label><br/>
      <select>
        <option>sélectionner</option>
        <option *ngFor="let wineType of wineTypeList" [value]="wineType.id">{{ wineType.name }}</option>
      </select><br/>
    </p>
    <p>
      <label>Cépage préféré</label><br/>
      <select>
        <option *ngFor="let region of regionList" [value]="region.id">{{ region.name }}</option>
      </select><br/>
    </p>
    <ion-button
            shape="round"
            [disabled]="userButtonStatus"
            (click)="getUserInfo()">
      Enregistrer
    </ion-button>
  </form>
  <form class="center-elements">
    <h2>Informations personnelles</h2>
    <p>
      <label>prénom</label><br/>
      <input
              name="firstname"
              type="text"
              [value]="firstName"
              [(ngModel)] = "firstName" />
      <br />
    </p>
    <p>
      <label>nom de famille</label><br/>
      <input
              name="lastname"
              type="text"
              [value]="lastName"
              [(ngModel)] = "lastName" />
      <br />
    </p>
    <p>
    <label>e-mail</label><br/>
    <input
            name="email"
            type="text"
            [value]="email"
            [(ngModel)] = "email" />
    <br />
    </p>
    <p>
    <label>age</label><br/>
    <input
            name="age"
            type="text"
            [value]="age"
            [(ngModel)] = "age"/>
    <br />
    </p>
    <p>
    <label>adresse postale</label><br/>
    <input
            name="address"
            type="text"
            [value]="address"
            [(ngModel)] = "address" />
    <br />
    </p>
    <p>
    <label>Membre depuis</label><br/>
      <label>{{ createdAt }}</label>
    <br />
    </p>
    <ion-button
            shape="round"
            [disabled]="userButtonStatus"
            (click)="getUserInfo()">
      Enregistrer
    </ion-button>
  </form>

</ion-content>
<ion-footer>
</ion-footer>
