<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informations personnelles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="w3-container w3-card-4 w3-light-grey">
    <ion-card-subtitle>prénom</ion-card-subtitle>
    <input
            name="firstname"
            type="text"
            [value]="firstname"
            [(ngModel)] = "firstname" />
    <br />
    <ion-card-subtitle>nom de famille</ion-card-subtitle>
    <input
            name="lastname"
            type="text"
            [value]="lastname"
            [(ngModel)] = "lastname" />
    <br />
    <ion-card-subtitle>Membre depuis</ion-card-subtitle>
    <input
            name="createdAt"
            type="text"
            [value]="createdAt"
            [(ngModel)] = "createdAt" />
    <br />
    <ion-button
            expand="block"
            shape="round"
            (click)="userInfo()">
      update user infos
    </ion-button>
    <br />
  </ion-card>

</ion-content>
