<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cavino
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/cavavin.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bievenue sur l'application Cavino</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Vous ne pouvez actuellement pas utiliser le service sans être connecté.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
