<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Connexion</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form name="loginForm" class="w3-container w3-card-4 w3-light-grey">
        <h2>Connexion</h2>
        <p>Entrez vos identifiants de connexion ci-dessous</p>

        <p>
            <label>e-mail</label><br />
            <input
                    name="email"
                    type="text"
                    [(ngModel)] = "user" /></p>
        <p>
            <label>mot de passe</label><br />
            <input
                    name="password"
                    type="password"
                    [(ngModel)] = "password" /></p>

        <ion-button
                expand="block"
                shape="round"
                [disabled] = "this.loginButtonStatus"
                (click)="connect(user ,password)">
            connexion
        </ion-button><br />
    </form>

    <div class="w3-container w3-card-4 w3-light-grey">
        <h2>Inscription</h2>
        <p>Si vous n'êtes pas encore inscrit, vous pouvez la faire ici.</p>
        <ion-button
                expand="block"
                shape="round"
                [disabled]="this.loginButtonStatus"
                [routerDirection]="'root'"
                [routerLink]="'/register'">
            inscription
        </ion-button><br />
    </div>
</ion-content>
