input[type=text] {
  background-color: lightgrey;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
}

input[type=password] {
  background-color: lightgrey;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
}

ion-button {
  border-spacing: 10px;
}
